.hobbies {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.hobbies__titulo {
    text-align: center;
    margin-bottom: 2rem;
}

.hobbies__categorias {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.hobbies__categorias_item {
    background-color: var(--background-blanco);
    width: 38%;
    height: 30%;
    padding: 2.3rem 1rem 1rem;
    list-style: none;
}

@media screen and (min-width:768px) {
    .hobbies__categorias_item {
        width: 44%;
    }
}

/*DESKTOP*/

@media screen and (min-width: 1024px) {
    .hobbies__categorias_item {
        width: 13%;
    }
}